/*! globalize.css v1.0.8 | MIT License | github.com/BYODKM */
html:root .clear

  &--left
    clear left

  &--right
    clear right

  &--both
    clear both

  &--fix

    &:before
    &:after
      content ""
      display table

    &:after
      clear both

html:root .color

  &--black
    color black

  &--dimgray
    color dimgray

  &--gray
    color gray

  &--darkgray
    color darkgray

  &--silver
    color silver

  &--lightgray
    color lightgray

  &--whitesmoke
    color whitesmoke

  &--white
    color white

  &--navy
    color navy

  &--blue
    color blue

  &--aqua
    color aqua

  &--teal
    color teal

  &--olive
    color olive

  &--green
    color green

  &--lime
    color lime

  &--yellow
    color yellow

  &--orange
    color orange

  &--red
    color red

  &--maroon
    color maroon

  &--fuchsia
    color fuchsia

  &--pink
    color pink

  &--purple
    color purple

html:root .cursor

  &--auto
    cursor auto

  &--default
    cursor default

  &--pointer
    cursor pointer

  &--crosshair
    cursor crosshair

  &--move
    cursor move

  &--text
    cursor text

  &--wait
    cursor wait

  &--help
    cursor help

  &--n-resize
    cursor n-resize

  &--s-resize
    cursor s-resize

  &--w-resize
    cursor w-resize

  &--e-resize
    cursor e-resize

  &--ne-resize
    cursor ne-resize

  &--nw-resize
    cursor nw-resize

  &--se-resize
    cursor se-resize

  &--sw-resize
    cursor sw-resize

  &--progress
    cursor progress

  &--hand
    cursor hand

  &--no-drop
    cursor no-drop

  &--all-scroll
    cursor all-scroll

  &--col-resize
    cursor col-resize

  &--row-resize
    cursor row-resize

  &--not-allowed
    cursor not-allowed

  &--vertical-text
    cursor vertical-text

html:root .display

  &--none
    display none !important

  &--block
    display block

  &--inline
    display inline

  &--inline-block
    display inline-block

html:root .float

  &--left
    float left

  &--right
    float right

  &--none
    float none

html:root .font

  &--serif
    font-family serif

  &--sansserif
    font-family sans-serif

  &--monospace
    font-family monospace

  &--bold
    font-weight bold

  &--italic
    font-style italic

  &--xx-small
    font-size xx-small

  &--x-small
    font-size x-small

  &--small
    font-size small

  &--medium
    font-size medium

  &--large
    font-size large

  &--x-large
    font-size x-large

  &--xx-large
    font-size xx-large

html:root .height

  &--full
    height 100%

html:root .line-height

  &--x-narrow
    line-height 1

  &--narrow
    line-height 1.25

  &--wide
    line-height 1.5

  &--x-wide
    line-height 1.618

  &--xx-wide
    line-height 2

html:root .list-style

  &--none
    list-style-type none

  &--disc
    list-style-type disc

  &--circle
    list-style-type circle

  &--square
    list-style-type square

  &--lower-roman
    list-style-type lower-roman

  &--upper-roman
    list-style-type upper-roman

  &--lower-greek
    list-style-type lower-greek

  &--decimal
    list-style-type decimal

  &--decimal-leading-zero
    list-style-type decimal-leading-zero

  &--lower-latin
    list-style-type lower-latin

  &--upper-latin
    list-style-type upper-latin

  &--upper-alpha
    list-style-type upper-alpha

  &--cjk-ideographic
    list-style-type cjk-ideographic

  &--hiragana
    list-style-type hiragana

  &--katakana
    list-style-type katakana

  &--hiragana-iroha
    list-style-type hiragana-iroha

  &--katakana-iroha
    list-style-type katakana-iroha

  &--hebrew
    list-style-type hebrew

  &--armenian
    list-style-type armenian

  &--georgian
    list-style-type georgian

html:root .margin

  &--auto
    margin-right auto
    margin-left auto

  &--none
    margin 0

  &--0
    margin 0

  &--tb-0
    margin-top 0
    margin-bottom 0

  &--t-0
    margin-top 0

  &--b-0
    margin-bottom 0

  &--lr-0
    margin-left 0
    margin-right 0

  &--l-0
    margin-left 0

  &--r-0
    margin-right 0

  &--1em
    margin 1em

  &--tb-1em
    margin-top 1em
    margin-bottom 1em

  &--t-1em
    margin-top 1em

  &--b-1em
    margin-bottom 1em

  &--lr-1em
    margin-left 1em
    margin-right 1em

  &--l-1em
    margin-left 1em

  &--r-1em
    margin-right 1em

  &--1rem
    margin 1rem

  &--tb-1rem
    margin-top 1rem
    margin-bottom 1rem

  &--t-1rem
    margin-top 1rem

  &--b-1rem
    margin-bottom 1rem

  &--lr-1rem
    margin-left 1rem
    margin-right 1rem

  &--l-1rem
    margin-left 1rem

  &--r-1rem
    margin-right 1rem

html:root .overflow

  &--hidden
    overflow hidden

html:root .padding

  &--none
    padding 0

  &--0
    padding 0

  &--1em
    padding 1em

  &--tb-1em
    padding-top 1em
    padding-bottom 1em

  &--t-1em
    padding-top 1em

  &--b-1em
    padding-bottom 1em

  &--lr-1em
    padding-left 1em
    padding-right 1em

  &--l-1em
    padding-left 1em

  &--r-1em
    padding-right 1em

  &--1rem
    padding 1rem

  &--tb-1rem
    padding-top 1rem
    padding-bottom 1rem

  &--t-1rem
    padding-top 1rem

  &--b-1rem
    padding-bottom 1rem

  &--lr-1rem
    padding-left 1rem
    padding-right 1rem

  &--l-1rem
    padding-left 1rem

  &--r-1rem
    padding-right 1rem

html:root .table

  &--auto
    table-layout auto

  &--fixed
    table-layout fixed

html:root .text

  &--left
    text-align left

  &--center
    text-align center

  &--right
    text-align right

  &--underline
    text-decoration underline

  &--line-through
    text-decoration line-through

  &--uppercase
    text-transform uppercase

  &--lowercase
    text-transform lowercase

html:root .vertical

  &--top
    vertical-align top

  &--middle
    vertical-align middle

  &--bottom
    vertical-align bottom

html:root .width

  &--auto
    width auto

  &--full
    width 100%

  &--half
    width 50%
